rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /workOrders/{orderId} {
      // Requesters can create and read orders
      allow create, read, update, delete: if true;
    }
    
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
